
{#引入css文件#}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<script type="application/javascript" src="{% static 'polls/index.js' %}"></script>

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        {# 删除硬编码的URLS #}
{#        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}
{#            引用命名空间，区分多个App项目#}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}